.big-button{
    background: $dark-green;
    border: none;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    font-size: $l-size;
    margin-bottom: $m-size;
    padding: 2.4rem;
    width: 100%;
}

.big-button:disabled{
    opacity: 0.5;
}

.button{
    background: $dark-green;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: 500;
    padding: $s-size;
}

.button--link{
    background: none;
    box-shadow: none;
    color: $off-white;
    padding: 0;
}

@media (min-width: $desktop-breakpoint){
    .big-button{
        margin-bottom: $xl-size;
    }
}