.widget{
    background: $light-blue;
    margin-bottom: $xl-size;
}

.widget-header{
    background: $dark-blue;
    color: $off-white;
    padding: $m-size;
    display: flex;
    justify-content: space-between;
}

.widget-header__title{
    margin: 0;
    color: white;
}

.widget__message{
    border-bottom: 1px solid lighten($color: $dark-blue, $amount: 10%);
    color: $off-white;
    margin: 0;
    padding: $l-size;
    text-align: center;
}