// colours
$dark-blue: #0B59E6;
$light-blue: #0C99F0;
$blue: #00BED9;
$light-green: #0CF0CC;
$dark-green: #0BE685;
$off-white: #d2d8f0;

// spacing
$s-size: 1.2rem;
$m-size: 1.8rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// breakpoints
$desktop-breakpoint: 45rem;